<div id='teams'>
<h1 id = 'allteams'> All Semesters </h1>
<div class="container">
  <div class="row">
    <h3>Semesters</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @semesters.each do |semester| %>
            <tr>
              <%= render semester %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
  </div>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
</div>